footer {
  position: fixed; /* Keeps the footer fixed at the bottom */
  bottom: 0; /* Aligns the footer to the bottom of the viewport */
  width: 100%; /* Makes the footer span the entire width of the viewport */
  background-color: #172518; /* Sets the background color of the footer */
  color: #fff; /* Sets the text color of the footer */
  padding: 10px; /* Adds padding to the footer content */
  text-align: center; /* Aligns the content of the footer to the center */
}
